@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
 

    --main-color: #faf7f5;
    --fourth-color: #2e5047;
    --first-color:#f9b4ab;
    --sec-color:#264e70;
    --third-color:#bbd4ce;
    --a-color:#c0d0cc;
    background-color: #faf7f5;

}

.containing {
  display: flex;
  justify-content: space-between ;
}

.containing button {
 font: bold;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  margin: 10px;
  color: black;
}


.containing button:hover{


background-color: var(--first-color);

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
  position: fixed;
  top: 0;
  width: 100%;
  left: 0%; /* Make the navbar stretch across the entire width */
}




.active {
  background-color: var(--main-color);
}
body{

 margin: 0;
  padding: 0;
 /* background-image: url('scale.jpg'); /* Replace 'path_to_your_image.jpg' with your image path */
background-color:#faf7f5 ;

}


/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 30px;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}





ul {
  list-style-type: none;
  margin-top: -5px;
  padding: 0;

}




