button{

background-color: white;
}
.post{

    background-color: white;
    color:black;
   margin-top: 20px;
}
input{
    
    
    
    
    
   
    background-color: white;
width: 500px;
height: 30px;}